<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">RegistrApp</ion-title>
    </ion-toolbar>    
  </ion-header>
  <ion-slides pager="true">
  <ion-slide *ngFor="let slide of slides">
    <div class="slide-img-padding">
      <img [src]="slide.img">
    </div>
    <div>
      <h3 [innerHTML]> {{ slide.titulo}}</h3>
    </div>
  </ion-slide>
</ion-slides>
</ion-content>


<ion-footer no-border>  
  <ion-grid fixed>
    <ion-row>
        <ion-col size="10" offset="1"> 
          <ion-button href="/registro" color="primary" expand="full" shape="round" class="btn-primary">
          REGISTRAR
          </ion-button>
        </ion-col>
    </ion-row>
<ion-row>
        <ion-col size="10" offset="1"> 
          <ion-button href="/ingresar"  expand="full" fill="clear">
          <ion-label color="dark">INGRESAR</ion-label>
          </ion-button>
        </ion-col>
    </ion-row>

  </ion-grid>
</ion-footer>